* { 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : "Poppins", sans-serif;
  }
  body {
    display : flex;
    align-items : center;
    justify-content : center;  
    min-height : 800px;
    background: linear-gradient(to top, #000000, #333333);
    animation: pulse 15s linear infinite;
  }
  
  a {
    color : white;
    cursor: none;
    text-decoration: none;
  }
  .container {
    position : relative;
    width : 1100px;
    display : flex;
    top: 65;
    align-items : center;
    justify-content : center;
    flex-wrap: wrap;
    padding : 30px;  
    animation: fade-in 2s;
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;  
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }

  .image {
    position : relative;
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }


  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
  
  button {
    position: relative;
    background: #444;
    top: 30;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  .logo {
    position: absolute;
    top: 10%;
    width: 20%;
    margin: 0 auto;
    z-index: 2;
    animation: fade-in 1s;
  }

  .gauche {
    
    left: 10%;
    width: 30%;
  }
  
  .droite {
    right: 5%;
    width: 30%;
  }

  .gauche, .droite {
    position: absolute;
    animation: fade-in 4s;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
  .gauche:hover, .droite:hover {
    animation: bounce 1s infinite;
  }

  .video-container {
    margin-top: 20px;
  }

  .video_gauche, .video_droite {
    position: absolute;
    bottom: 3%;
    width: 25%;
    margin: 0 auto;
    z-index: 2;
    border-radius: 5px;
  }

  .video_gauche {
    left: 10%;
  }

  .video_droite {
    right: 10%;
  }

  a {
    
  }

  @media screen and (max-width: 1000px) {
    .container,.video_gauche, .video_droite {
      display: flex;
      flex-direction: column;
    }

    .droite, .gauche {
      display: none;
    }

  }